#wheel dá um erro dizendo que não tá instalado, mas ao instalar o erro persiste no pipeline, então vou só comentar por enquanto
robotframework
robotframework-seleniumlibrary
robotframework-requests==0.7.0

#python3.6+
#chromedriver

#Verificar se existe o equivalente pra windows dos 2 comandos seguintes depois:
#RUN dnf install -y chromedriver-stable >/dev/null && echo OK
#RUN dnf install -y https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm >/dev/null && echo OK
#ou verificar como instalar o chocolatey auto pra construir o sistema automatico
# acima não é necessário, mas vou deixar pra me lembrar de algumas coisas
